*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
}
.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: #c20b0b solid 1px;
    height: 100vh;
}
#reset{
    width: 100px;
    height: 30px;
    border: #000 solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#reset:hover{
    box-shadow: 0px 0px 5px #505050;
}
#reset:active{
    box-shadow: inset 0px 0px 5px #505050;
}
#board{
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: inline-block;
    vertical-align: top;
    background-color: #707070;
}
.row{
    display: flex;
    
}
.cell{
    margin: 1px;
    width: 25px;
    height: 25px;
    background-color: #909090;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 700;
}
.cell.closed{    
    background-color: #707070;
}
.cell-box{
    border-style: solid;
    border-width: 2px;
    border-left-color: #707070;
    border-top-color: #707070;
    border-bottom-color: #b0b0b0;
    border-right-color: #b0b0b0;
}
.cell-box.closed{
    border-style: solid;
    border-width: 3px;
    border-left-color: #909090;
    border-top-color: #909090;
    border-bottom-color: #505050;
    border-right-color: #505050;
}
.cell.closed:hover, .cell.closed:active{
    background-color: #909090;
}
.cell-box.closed:hover{
    border-left-color: #b0b0b0;
    border-top-color: #b0b0b0;
    border-bottom-color: #707070;
    border-right-color: #707070;
}
.cell-box.closed:active{
    border-left-color: #707070;    
    border-top-color: #707070;
    border-bottom-color: #b0b0b0;
    border-right-color: #b0b0b0;
}
.flag{
    height: 20px;
    width: 16px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 10%;
    border-top-left-radius: 10%;
    border: #002466 1px solid;
    background-color: #4b7fe0;
    box-shadow: inset -5px 0px 3px #1f61dd;
}